/* CRITICAL FIX: App.css */

.app-body {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  min-height: calc(100vh - 64px);
}

.main-content {
  flex: 1 1 auto;
  transition: margin-left 200ms cubic-bezier(.4,0,.2,1);
  margin-left: 0;
  width: 100%;
  min-width: 0;
}

@media (min-width: 1024px) {
  .main-content.sidebar-open {
    margin-left: 264px;
    width: calc(100% - 264px);
  }
}

@media (max-width: 1023px) {
  .main-content {
    margin-left: 0 !important;
    width: 100% !important;
  }
}